.App {
  display: flex;
  height: 100vh;
}

.left-partition {
  flex: 1;
  background-color: #6c757d;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #f8f9fa;
  padding: 20px;
  font-size: 2em;
  text-align: center;
  position: relative; /* Add this */
}
.right-partition {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #343a40;
  padding: 20px;
  color: #f8f9fa;
}

.message.sent {
  align-self: flex-end;
  background-color: #102944;
  color: #f8f9fa;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  max-width: 80%;
  margin-left: 20%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.message.received {
  align-self: flex-start;
  background-color: #6c757d;
  color: #f8f9fa;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  max-width: 80%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.input-container {
  display: flex;
  align-items: center;
  background-color: #6c757d;
  padding: 10px;
  border-radius: 20px;
  margin-top: 20px;
}

input {
  flex: 1;
  border: none;
  outline: none;
  margin-right: 10px;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  background-color: #343a40;
  color: #f8f9fa;
}

.messages-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex: 1;
  padding: 20px;
}

.send-icon {
  padding: 10px;
  cursor: pointer;
  color: #343a40;
}

.thinking {
  align-self: flex-start;
  background-color: #d3d3d3; /* Lighter gray */
  color: #212529; /* Dark text for contrast */
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
  max-width: 80%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #212529;
}

@keyframes dot {
  0%, 20% { color: rgba(0,0,0,0); text-shadow: .25em 0 0 rgba(0,0,0,0), .5em 0 0 rgba(0,0,0,0); }
  40% { color: black; text-shadow: .25em 0 0 rgba(0,0,0,0), .5em 0 0 rgba(0,0,0,0); }
  60% { text-shadow: .25em 0 0 black, .5em 0 0 rgba(0,0,0,0); }
  80%, 100% { text-shadow: .25em 0 0 black, .5em 0 0 black; }
}

.dot {
  animation: dot 1s infinite;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.thinking::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-top-color: #333;
  border-radius: 50%;
  animation: spinner .6s linear infinite;
  margin-right: 10px;
  vertical-align: middle;
}
.beta-version {
  position: absolute;
  bottom: 0;
  width: 95%;
  padding: 10px;
  text-align: center;
  background-color: #f8f9fa; /* Light gray */
  color: #343a40; /* Dark text for contrast */
  font-size: 14px;
}